---
layout: default
title: Research
---

{% include head.html %}

<body>
  <header>
    <h1>Research</h1>
    <p>Interests: Algebra, Algebraic Geometry, Number Theory, Computational Mathematics</p>
  </header>
  
  <div class="subheader">
    <p>Articles that I've written, or had a part in writing:</p>
  </div>

  <div class="contained_list">
    <dl>
    <ol reversed>
  
      <dt>
        <li>
          <b><a href="./articles/index_obs.pdf">Refined index obstructions for Brauer classes on an abelian variety</a></b>
          </b>
        </li>
      </dt>
    
      <dd>
        <i>May 26, 2026</i>
      </dd>


      <dt>
        <li>
          <b><a href="./articles/Canonical_alg.pdf">An algorithmic reduction to canonical forms for vector bundles on anisotropic conics</a></b>
          </b>
        </li>
      </dt>
    
      <dd>joint with <a href="https://dyepezmath.github.io/index.html">Diego Yépez.</a>
        <br><i>April 19, 2026</i>
      </dd>


      <dt>
        <li>
          <b><a href="https://arxiv.org/abs/2511.05381">A looming of phantoms</a></b> 
          <a href="https://github.com/eoinmackall/Phantoms">
            {% include icon-github.svg %}</a>
        </li>
      </dt>
    
      <dd>joint with 
        <a href="https://kimoitoek.github.io/">Kimoi Kemboi</a>, 
        <a href="https://torsor.org/">Daniel Krashen</a>, 
        Tianle Liu, 
        <a href="https://public.websites.umich.edu/~yqnl/">Yeqin Liu</a>,
        <a href="https://sites.google.com/view/murmuno/">Svetlana Makarova</a>, 
        <a href="https://websites.umich.edu/~arper/">Alexander Perry</a>, 
        <a href="https://aarobotis.github.io/">Antonios-Alexandros Robotis</a>,
      and <a href="https://sites.google.com/view/sridhar-venkatesh">Sridhar Venkatesh</a>. 
        <br><u>Advances in Mathematics</u>. <i>November 10, 2025</i>
      </dd>
    
      <dt>
        <li>
          <b><a href="./articles/main3.pdf">On deformations of Azumaya algebras with quadratic pair</a></b>
        </li>
      </dt>
      
      <dd> joint with <a href="https://cameron-ruether.bitbucket.io/index.html">Cameron Ruether.</a>
        <br><i>April 3, 2025</i>
      </dd>

      <dt>
        <li>
          <b><a href="./articles/E_Torsors_in_Severi_Brauer_Varieties.pdf">Elliptic curves and their principal homogeneous spaces: splitting Severi--Brauer varieties</a></b>
        </li>
      </dt>
    
      <dd>joint with <a href="https://pcwww.liv.ac.uk/~rekuski/">Nick Rekuski.</a>
        <br><i>January 18, 2024</i>
      </dd>

      <dt>
        <li>
          <b><a href="./articles/representable_short.pdf">On the algebraizability of formal deformations in K-cohomology</a></b>
        </li>
      </dt>
    
      <dd>
        <i>September 1, 2024</i>
      </dd>

      <dt>
        <li>
          <b><a href="./articles/gengeom.pdf">The period and index of a generic geometrically elliptic normal curve</a></b>
        </li>
      </dt>
    
      <dd>
        <u>Journal of Algebra</u>. <i>September 1, 2024</i>
      </dd>

      <dt>
        <li>
          <b><a href="./articles/milnor_rev.pdf">Pro-representability of K^M-cohomology in weight 3 generalizing a result of Bloch</a></b>
        </li>
      </dt>
    
      <dd>
        <u>Annals of K-theory</u>. <i>January 19, 2023</i>
      </dd>

     <dt>
        <li>
          <b><a href="./articles/biquaternion.pdf">On the Chow groups of a biquaternion Severi--Brauer variety</a></b>
        </li>
      </dt>
    
      <dd>
        <u>Pacific Journal of Mathematics</u>. <i>October 17, 2022</i>
      </dd>

     <dt>
        <li>
          <b><a href="./articles/revconnectivek2.pdf">Algebraic connective K-theory of a Severi--Brauer variety with prescribed reduced behavior</a></b>
        </li>
      </dt>
    
      <dd>
        <u>Documenta Mathematica</u>. <i>April 23, 2021</i>
      </dd>

      <dt>
        <li>
          <b><a href="./articles/tauR.pdf">A universal coefficient theorem with applications to torsion in Chow groups of Severi--Brauer varieties</a></b>
        </li>
      </dt>
    
      <dd>
        <u>New York Journal of Mathematics</u>. <i>April 29, 2020</i>
      </dd>

      <dt>
        <li>
          <b><a href="./articles/revcodimension2.pdf">Codimension 2 cycles on Severi-Brauer varieties and decomposability</a></b>
        </li>
      </dt>
    
      <dd>
        <a href="./articles/corrections_cd2.pdf">(Corrections.)</a> <i>October 14, 2020</i><br>
        <u>Manuscripta Mathematica</u>. <i>June 23, 2020</i>
      </dd>

      <dt>
        <li>
          <b><a href="./articles/revwhiteheadthm.pdf">A^1-homotopy equivalences and a theorem of Whitehead</a></b>
        </li>
      </dt>
    
      <dd>
        <u>Homology, Homotopy, and Applications</u>. <i>July 2, 2020</i>
      </dd>

      <dt>
        <li>
          <b><a href="./articles/revBthy2.pdf">Universal additive Chern classes and a GRR-type theorem</a></b>
        </li>
      </dt>
    
      <dd>
        <u>Journal of Algebra</u>. <i>June 4, 2020</i>
      </dd>

      <dt>
        <li>
          <b><a href="./articles/revfiltrations.pdf">Functorality of the gamma filtration and computations for some twisted flag varieties</a></b>
        </li>
      </dt>
    
      <dd>
        <u>Annals of K-theory</u>. <i>August 21, 2019</i>
      </dd>

      <dt>
        <li>
          <b><a href="./articles/revChern%20subring.pdf">On the K-theory coniveau epimorphism for products of Severi-Brauer varieties</a></b>
        </li>
      </dt>
    
      <dd> joint with <a href="https://sites.ualberta.ca/~karpenko/">Nikita Karpenko.</a>
        <br><u>Annals of K-theory</u>. <i>October 19, 2018</i>
      </dd>

      <dt>
        <li>
          <b><a href="./articles/revChowindexp2.pdf">The coniveau filtration on K_1 for some Severi-Brauer varieties</a></b>
        </li>
      </dt>

      <dd>
        <u>Canadian Mathematical Bulletin</u>. <i>October 9, 2018</i>
      </dd>

      <dt>
        <li>
          <b><a href="https://arxiv.org/abs/1608.01973">Six variations on a theme: almost planar graphs</a></b>
        </li>
      </dt>

      <dd>joint with Max Lipton, Thomas W. Mattman, Mike Pierce, Samantha Robinson, Jeremy Thomas, Ilan Weinschelbaum.
        <br><u>Involve</u>. <i>August 5, 2016</i>
      </dd>

    </ol>
    </dl>
  </div>

  <br>
  <p>Some additional things that I've written, that aren't inteded for publication:</p>

  <div class="contained_list">
    <dl>
    <ol>
      <dt>
        <li>
          <b><a href="./articles/factorization-8.pdf">A factorization algorithm based on Cohn's irreducibility criterion</a></b>
          <a href="https://github.com/eoinmackall/CohnFactorization">
            {% include icon-github.svg %}
          </a>
        </li>
      </dt>
      <dd>
        <i>March 16, 2026</i>
      </dd>


      <dt>
        <li><b><a href="./articles/Suslin2.pdf">Rational equivalence classes on Severi--Brauer varieties</a></b></li>
      </dt>

      <dd>
        <i>July 16, 2021</i>
      </dd>

      <dt>
        <li><b><a href="./articles/arigen.pdf">The arithmetic genus of a complete intersection curve</a></b></li>
      </dt>

      <dd>
        <i>May 11, 2020</i>
      </dd>

      <dt>
        <li><b><a href="./articles/possiblegenera.pdf">The genera of smooth curves in a projective variety</a></b></li>
      </dt>

      <dd>
        <i>December 12, 2019</i>
      </dd>

      <dt>
        <li><b><a href="./articles/deggen2.pdf">A degree bound on the genus of a projective curve</a></b></li>
      </dt>

      <dd>
        <i>October 3, 2021</i>
      </dd>

    </ol>
    </dl>
  </div>


</body>
