<div class="profile-sidebar">
  <img src="{{ '/assets/profile.jpg' | relative_url }}" alt="Profile Picture">
  <div class="sidebar-name"><b>Eoin Mackall</b></div>
  <p>Mathematician</p>
  
  <ul class="links-side-bar">
    <li>{% include arxiv-search.svg %}<a href="http://arxiv.org/a/mackall_e_1">ArXiv</a></li>
    <li>{% include email.svg %}<a href="mailto:eoinmackall@gmail.com">Email</a></li>
    <li>{% include icon-github.svg %}<a href="https://github.com/eoinmackall">GitHub</a></li>
  </ul>
  
  <p>University of California, Santa Cruz<br>
    Department of Mathematics<br>
    1156 High Street<br>
    Santa Cruz, CA 95064
  </p>

</div>
